.NavUser {
	align-items: center;
	width: 100%;
	height: 50px;
	justify-content: space-around;
	justify-content: space-between;
}

.user_nav_items {
	margin-left: 10px;
	margin-right: 10px;
	font-size: small;
	font-weight: bold;
}