.div_user {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.NavUser {
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	/* width: 100%; */
	margin-top: 0px;
	margin: 0;
}

.user_nav_items {
	display: flex;
	align-items: center;
	height: 100%;
	margin-right: 25px;
	text-decoration: none;
	text-transform: uppercase;
	color: #938f75;
	font-family: 'Friz Quadrata Std Bold';
	font-size: small;
	font-weight: bold;
}

.user_nav_items:hover {
	scale: 1.1;
}

.user_nav_items.active {
	display: flex;
	background-image: url('../../../assets/images/profile_component/nav-divider.png');
	background-position-x: 50%;
	background-size: 120px;
	background-repeat: no-repeat;
	background-position-y: 40px;
}

.user_search {
	display: flex;
	margin-left: auto;
	margin-right: 10%;
}

.input_search {
	padding: 0px 0px 10px 40px;
	align-items: center;
	display: flex;
	width: 200px;
	height: 25px;
	color: #938f75;
	font-family: 'Friz Quadrata Std Bold';
	background-color: black;
	border-style: double;
	border-color: #938f75;
	background-image: url('../../../assets/images/profile_component/search.png');
	background-position-y: 50%;
	background-size: 25px;
	background-repeat: no-repeat;
	background-position-x: 5%;
}

.input_search:focus {
	outline: none;
}