
.Chat-Option-Menu {
	position: absolute;
	right: 10px;
	top: 40px;
	width: 160px;
	background-color: #16222a;
	z-index: 1;
	border: 1px solid #785a28;
    box-sizing: border-box;
}

.div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    background-color: #06101d;
    transition: background-color  600ms linear;
}

.div1:hover, .disc-btn-pannel:hover {
    cursor: pointer;
    background-color: #2d414f;
    transition: background-color  200ms linear;
}

.div1:active, .disc-btn-pannel:active {
    background-color: #5c451c;
    transition: background-color 10ms linear;
}

.disc-btn-pannel {
    transition: background-color  400ms linear;
	background-color: #16222a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    height: 20px;
}