#title-container {
    display: grid;
    align-items: center;
    grid-template-columns: 20px 120px auto;
    margin: 10px 0px 10px 10px;
}

#triangle-categories {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 6px solid transparent;
    border-bottom : 6px solid transparent;
    border-left : 8px solid gray;
}

#triangle-categories-active {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 8px solid gray;
    border-right : 6px solid transparent;
    border-left : 6px solid transparent;
}

#title-categories {
    color: grey;
}