* {
	margin: 0px;
	padding: 0px;
}

::selection {
	background-color: rgba(255, 255, 255, 0);
}

.container-page {
	cursor: url("../../assets/images/hand1.png"), auto;
}

a,
button {
	cursor: url("../../assets/images/hand1_tco.png"), auto;
}

input {
	cursor: url("../../assets/images/hand2.png"), auto;
}

.container-body {
	color: aliceblue;
	display: flex;
	width: calc(100vw - 220px);
	height: calc(100vh - 83px);
	overflow: hidden;
}

.bg_video {
	background-color: black;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #020912;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(196, 150, 26);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(221, 198, 135);
}