.user_body {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template: 100% / 40% 60%;
}

.left_side {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-rows: 70% 30%;
	background-image: url('../../assets/images/profile_component/solidbanner_still.png');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: -130%;
}

.banner {
	display: grid;
	grid-template-rows: 2fr 2fr 1fr 2fr 8fr 4fr;
	font-family: Friz Quadrata Std Bold;
}

.user_nickname {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-template-columns: 50% 50%;
	grid-row-start: 2;
	font-size: xx-large;
}

.xp_bar {
	display: grid;
	grid-row-start: 4;
	background-image: url('../../assets/images/profile_component/level-bar-bottom.png');
	background-size: 200px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	grid-column-start: 1;
	/* width: 100%; */
}

.xp_fill {
	display: grid;
	grid-row-start: 4;
	grid-column-start: 1;
	justify-content: center;
	align-items: center;
	background-image: url('../../assets/images/profile_component/level-bar-fill-hover.png');
	background-position-y: center;
	background-position-x: calc(50% - 20px);
	background-size: 180px;
	background-repeat: no-repeat;
}


.xp_nbr {
	display: grid;
	grid-row-start: 4;
	grid-column-start: 1;
	background-image: url('../../assets/images/profile_component/level-bar-top.png');
	background-position-x: calc(50% - 100px);
	background-position-y: 50%;
	background-size: 50px;
	background-repeat: no-repeat;
}

.xp_value {
	color: white;
	display: grid;
	grid-row-start: 4;
	grid-column-start: 1;
	font-size: smaller;
	margin-left: calc(50% - 105px);
	align-items: center;
	margin-top: 5px;
}

.clan {
	display: grid;
	grid-row-start: 3;
	justify-content: center;
	color: #938f75;
}

.profile-icon-div {
	display: grid;
	grid-row-start: 5;
	justify-content: center;
	align-items: center;
	background-image: url('../../assets/images/avatar-border.png');
	background-position: center;
	background-size: 37%;
	background-repeat: no-repeat;

}

#profile_icon {
	border-radius: 50%;
}

.end-of-banner {
	display: grid;
	grid-row-start: 6;
	background-image: url('../../assets/images/profile_component/banner-bottom.png');
	/* background-color: antiquewhite; */
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: 70%;
}

.loot {
	display: flex;
	height: 10%;
	margin-top: 50%;
	background-color: aqua;
}

.stats {
	display: flex;
	margin-left: auto;
	background-color: blue;
	width: 100%;
	justify-content: center;
}

.no-edit {
	margin-left: 20px;
	border: none;
	width: 40px;
	height: 40px;
	background: none;
	background-image: url('../../assets/images/profile_component/edit_hover.png');
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: 200%;
	border-radius: 50%;
}

.no-edit:active {
	margin-left: 20px;
	border: none;
	width: 40px;
	height: 40px;
	background: none;
	background-image: url('../../assets/images/profile_component/edit_click.png');
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: 200%;
}

.no-edit:hover {
	box-shadow: 0 0 20px 2px white;
	border-radius: 50% 50%;
}

.edit-up {
	margin-left: 10px;
	border: none;
	width: 40px;
	height: 40px;
	background: none;
	background-image: url('../../assets/images/profile_component/red_x_mark.png');
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
}

.edit-up:active {
	scale: 0.8;
}

.disabled {
	display: none;
}