body {
	margin: 0px;
	padding: 0px;
}

.Friendsbar {
	position: relative;
	display: grid;
	grid-template-rows: 35px auto 37px;
	color: #fff;
	width: 220px;
	border-left: 3px solid #16222a;
	background-color: #020912;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-left: auto;
}