body {
	margin: 0px;
	padding: 0px;
}

.Friendsbar {
	color: #fff;
	width: 220px;
	border-left: 3px solid #16222a;
	background-color: #020912;
	background-repeat: no-repeat;
	background-image: url('../../assets/images/poro_sad.png');
	background-position: 50% 50%;
	margin-left: auto;
}
