body {
	margin: 0px;
	padding: 0px;
}

nav {
	height: 50px;
	background: linear-gradient(180deg, rgb(15, 1, 15), midnightblue);
}

.liste {
	list-style-type: none;
	background: linear-gradient(180deg, rgb(15, 1, 15), midnightblue);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0;
	padding: 0;
}

.items {
	margin-right: 10px;
	color: #f1f1f1;
	cursor: pointer;
}

.btn {
	display: none;
}

@media screen and (max-width: 700px) {

	.liste {
		flex-direction: column;
		height: 365px;
		align-items: left;
	}

	.items:nth-child(1) {
		border-top: 1px solid #fff;
		margin-top: 60px;
	}

	.items {
		height: 50px;
		width: 80%;
		border-bottom: 1px solid #fff;
		line-height: 50px;
	}

	.btn {
		display: block;
		position: absolute;
		right: 10px;
		top: 10px;
		color: #333;
		cursor: pointer;
	}
}